
.MainFocus-HeadDiv {
  justify-content: center;
  display: flex;
  vertical-align: middle;
  height: 75vh;

}

.MainFocus-Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;


}

.MainFocus-div  {

  display: flex;
  flex-direction: row;

}

.MainFocus-TextArea {
  width: 80%;

}

.MainFocus-SubmitButton {

  padding-left: 4em;
}
